<body style="margin-top: 10%; margin-left: -14%;">
    <header>

        <div class="frase">
            <p>“Cada texto es único y, simultáneamente, es la traducción de otro texto. Ningún texto es enteramente original
                porque el lenguaje mismo, en su esencia, es ya una traducción: primero, del mundo no verbal y, después,
                porque cada signo y cada frase es la traducción de otro signo y de otra frase. Pero ese razonamiento puede
                invertirse sin perder validez: todos los textos son originales, porque cada traducción es distinta. Cada
                traducción es, hasta cierto punto, una invención y así constituye un texto único.” (Octavio Paz)</p>
        </div>
        <div class="botonequipo">
            <a routerLink="/" button type="button" class="btn btn-outline-dark"
                style="font-family: Georgia, 'Times New Roman', Times, serif; margin-left: 93%; margin-top: -5%; border-color: brown;">
                volver </a>
        </div>
    
    
    
    
    </header>
    <div class="equipo2">
        <h1 style="border: brown solid 2px; text-align:center;margin-top: -1%;">Traductores</h1>
    </div>
    
    <main class="equipo">
    
        <div class="tradu">
            <img src="assets/images/cara2.jpg" style="max-width: 100%;" />
            <h2>Magdalena Torres Espindola</h2><br>
            <h5>Auburn, WA USA
                +1.518.852.2577
                predlin@gmail.com
            </h5><br>
            <p>Traductora profesional con mas de 20 anos de experiencia en traducciones juridicas, medicas,
                finanzas inernacionales y campanas de marketing para empresas y clientes individuales.Ofrece
                servicions de tranduccion de Ingles y Frances a Espanol Latinoamerica y Universal.
                En el area tecnica, ofrece servicios de localizacion y adaptacion de juegos online, aplicaciones
                moviles y control de calidad en los sitios oficiales de Google Play, Linguee y Movistar.
                Es egrsada de la Universidad de Cordoba con especializacion en Software otorgado por AATI
                (Asociacion Argentina de Traductores e Interpretes).
            </p>
        </div>
        <div class="tradu">
            <img src="assets/images/cara3.jpg" style="max-width: 100%;" />
            <h2>Santiago Matterazzi</h2><br>
            <h5>Washington DC 20010 USA
                +1 (603) 732-3169
                castirontranslations@gmail.com
            </h5><br>
            <p>Traductor y Editor especialista en finanzas.
                Egresado de la Universidad Argentina de la Empresa (UADE)
                como traductor público. Máster en Administración Empresarial con
                Posgrado en Macroeconomía Regional.
                Entre sus logros, podemos destacar su rol clave en la preparación de
                la documentación publica presentada por el Gobierno de la Ciudad
                de Buenos Aires ante el Fondo Monetario Internacional para la
                Auditoria sobre el gasto publico efectuado en las Obras de
                Ampliación de la Autopista Illia, entre otras.
                Se destaca como interprete en las Comisiones Bianuales del Banco
                Provincia, donde además presta servicios de asesor financiero.
                Algunos de sus clientes son Techint, Shell, Peugeot, Kraft, entre
                otros, a quienes brinda asesoramiento en e ciclo de facturación,
                administración de proyectos y gestión operativa.
            </p>
        </div>
        <div class="tradu">
            <img src="assets/images/cara4m.jpg" style="max-width: 100%;" />
            <h2>Julia Portelli</h2><br>
    
            <p>Traductora Técnica, Científica y Literaria egresada del Instituto De Enseñanza
                Superior en Lenguas Vivas &quot;Juan Ramón Fernández&quot;.
                Especialista en Software y CAT tools, tales como memoQ, Trados, Wordfast y
                OmegaT.
                Sus principales clientes como traductora freelancer son Alcatel, Movistar,
                Telecom Latinoamérica y Fibertel; a quienes ofrece servicios de copywriting para
                campanas de marketing y publicidad enfocadas al público.
                Especialista en investigación de mercado y encuestas para poder dirigir de
                forma correcta los servicios ofrecidos por el cliente.
                En divulgación científica, cuenta con publicaciones en prestigiosos ensayos del
                CONICET, el Instituto Malbran y la Academia de Ciencias Medicas de la
                Universidad del Salvador.
            </p>
        </div>
        <div class="tradu">
            <img src="assets/images/cara7m.jpg" style="max-width: 100%;" />
            <h2>Tamara Suarez</h2><br>
    
            <p>Traductora especialista en áreas culturales.
                Egresada de la Universidad de Buenos Aires como Traductora Pública. Máster en Gestión
                Cultural y Administración Pública en la Universidad de Quilmes.
                En su vasta experiencia profesional, podemos nombrar su labor como interprete y traductora en
                el IV Congreso Internacional de Gestión Cultural y Administración de Bienes Culturales
                organizado por el Museo de Arte Moderno de la Ciudad de Buenos Aires, la traducción y
                preparación de las guías y seminarios para la Curaduría de la muestra del pintor Quinquela
                Martin en la Usina del Arte y la activa participación en la adaptación de las obras literarias de
                Phillip Dick para la editorial Alfaguara
    
            </p>
        </div>
        <div class="tradu">
            <img src="assets/images/cara8m.jpg" style="max-width: 100%;" />
            <h2>Gabriela Bukman</h2><br>
    
            <p>Especialista en traducciones técnicas y académicas.
                Creadora de contenido para publicaciones y papers académicos. Editora y traductora de documentación
                relacionada al campo de la oftalmología, ginecología y cardiología.
                Parte del grupo de investigadores que evalúan las consecuencias de la modificación genética en la salud
                física, social y ambiental.
                Entre sus principales clientes, se encuentran Bayer, Boehringer Ingelheim, EudraVigilance Medicinal
                Product Dictionary, y WWF (World Wildlife Fund).
                Egresada de la Universidad Nacional de La Plata como Traductora Técnica, Científica y Literaria.
            </p>
        </div>
    
    
    
    
    </main>
</body>