<div class="form-contacto" style="height: -20%;">
    <form class="form-control" method="POST">
        <h3 class="sing-up">Contacto!!
            <i class="bi bi-mailbox2"></i>
        </h3>
        <div>
            <label for="email">correo electronico:</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="matiaspagnuolo@gmail.com">
        </div>

        <div>
            <label for="nombre">Nombre:</label>
            <input type="nombre" class="form-control" name="nombre" id="nombre" placeholder="***********">
        </div><br>
        <form action="/action_page.php">
            <textarea name="message" rows="5" cols="70"></textarea>
            <div>
                <button class="btn btn-danger" type="submit">
                    Send
                </button>
            </div>
        </form>

        <div class="botoncontacto">
            <a href="home.html" button type="button" class="btn btn-outline-dark"
                style="font-family: Georgia, 'Times New Roman', Times, serif; margin-left: 88%; margin-top: -35%; border-color: brown;">
                volver </a>
        </div>
    </form>
</div>