<div class="container-fluid m-0 bg-dark">
    <div class="row justify-content-center align-items-center fullsize">
        <div class="col-6">
            <form action="" [formGroup]="form" (ngSubmit)="login()">
                <div class="form-group">
                    <label for="email" class="text-dark">E-mail <span class="text-danger">* </span></label>
                    <span class="text-danger"> {{ verifyField("email") }}</span>
                    <input id="email" placeholder="email" type="email" class="form-control" formControlName="email">
                </div>
                <div class="form-group">
                    <label for="nombre" class="text-dark">Nombre de usuario <span class="text-danger">* </span></label>
                    <span class="text-danger"> {{ verifyField("nombre") }}</span>
                    <input id="nombre" placeholder="nombre de usuario" type="text" class="form-control" formControlName="nombre">
                </div>
                <div class="form-group">
                    <label for="password" class="text-dark">Password <span class="text-danger">* </span></label>
                    <span class="text-danger"> {{ verifyField("password") }}</span>
                    <input id="password" placeholder="*******" type="password" class="form-control" formControlName="password">
                </div>
                <div class="d-grid gap-2 mt-2">
                <button class="btn btn-dark text-dark" [disabled]="form.invalid">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a routerLink="/" button type="button" class="btn btn-outline-dark"
        style="font-family: Georgia, 'Times New Roman', Times, serif; margin-left: 90%; margin-top: -120px;">
        volver </a>
</div>
<div>
    <a routerLink="login" button type="button" class="btn btn-outline-dark"
        style="font-family: Georgia, 'Times New Roman', Times, serif; margin-left: 5%; margin-top: -14%;">
        Registrarse </a>
</div>



