<footer class="footer1">
    <div><hr style="height: 7px; margin-top: 2%;">
        <ul class="footer">
            <li><a href="contacto.html">Contactenos</a></li>
            <li><a href="https://goo.gl/maps/KrBbKdv5jham4cL2A">Av. Avellaneda 310 c.a.b.a</a></li>
            <li><a href="tel:+">(011) 4825-0205</a></li>
            <li class="foot"><a href="https://www.instagram.com/?hl=es-la">Instagram</a></li>
            <li class="foot"><a href="https://es-la.facebook.com/">Facebook</a></li>
            <li class="foot"><a href="https://twitter.com/?lang=es">Twitter</a></li>
        </ul>
    </div>

</footer>
