<body class="formulario">
    <header class="historia1">
    
        <div class="frases">
            <img src="assets/images/Alberto Manguel 7.jpg"
            style="max-width: 20%; float: left;margin-left: -45%;margin-top: 1%;">
            <p style="margin-left: -10%;">“El lector ideal es el traductor. Es capaz de desmenuzar un texto, retirarle la piel, cortarlo hasta la
                médula, seguir cada arteria y cada vena y luego, poner en pie a un nuevo ser viviente.”</p>
            <p style="text-align:right;">(Alberto Manguel)</p>
            <img src="assets/images/Alberto Manguel 7.jpg"
                style="max-width: 20%; float: right;margin-right: -36%;margin-top: -17%;">
        </div>
    </header>

    <main class="historia1">
        <div class="botonhistoria">
            <a routerLink="/"  type="button" class="btn btn-outline-dark"
                style="font-family: Georgia, 'Times New Roman', Times, serif; margin-left: 90%; margin-top: 3%; border-color: brown;">
                volver </a>
        </div>
        <article class="parrafo">
            <h2 style="margin-left: 35%;">Historia de la traduccion</h2><br>
            <h3>Sus comienzos</h3>
            <h4>Egipto y la piedra Rosetta</h4>
            <p>No es de extrañar que se sitúe el origen de la traducción en el descubrimiento de la conocida piedra de
                Rosetta. Esta piedra contenía información escrita sobre el decreto que ensalzaba la figura del faraón
                Ptolomeo V en el primer aniversario de su reinado, en el año 196 a.C. Lo curioso es que, en esta piedra
                de más de un metro de altura y casi 800 Kg de peso, estaba redactado el decreto en cuestión en tres
                idiomas diferentes: los jeroglíficos egipcios, la escritura demótica y el griego. Como no podía ser de
                otra forma, la piedra Rosetta se consideró a partir de entonces el primer rastro de la traducción
                propiamente dicha, y permitió a sus estudiosos descifrar por fin el significado de la escritura
                jeroglífica, que había sido un misterio absoluto hasta su aparición.</p>
            <p>Muy poca gente sabe que uno de sus antecesores, Ptolomeo Filadelfo, ya en el siglo III a.C encargó la
                traducción de los Cinco Libros de Moisés. Cuenta la leyenda que este faraón egipcio invitó a nada menos
                que 72 sabios de Judea, conocedores del hebreo y el griego, para que tradujeran los Cinco Libros de
                Moisés al griego de forma que los judíos de Alejandría, que en su mayoría habían olvidado su idioma de
                origen, pudieran entenderlos y utilizarlos en sus cultos. Algo más tarde se traducirían también otros
                libros del Antiguo Testamento y el compendio de todas las traducciones encontradas se denominó versión
                alejandrina, Septuaginta o de los 70.</p>
            <h4>La traducción en las civilizaciones griega y romana.</h4>
            <p>Pero en esta época existieron también otras dos culturas, la griega y la romana, cuya aportación a la
                traducción data quizás de épocas anteriores, ya que la misma civilización romana fue la encargada de
                trasvasar la mayoría de la literatura griega al latín.</p>
            <p>Aunque sus obras eran más un compendio de las obras y del pensamiento griegos que una traducción
                propiamente dicha, sabemos que la traducción de La Odisea del griego al latín que llevó a cabo Livio
                Andrónico es contemporánea a la versión alejandrina ya mencionada, luego el origen de la traducción
                puede determinarse en una época concreta, pero en múltiples territorios geográficos.</p>
            <h4>Las traducciones religiosas en la Edad Antigua</h4>
            <p>La desaparición del hebreo como lengua religiosa dio como resultado la necesidad de traducir de este
                idioma en peligro de extinción a otro que pudiera entender el pueblo judío. El idioma elegido fue el
                griego, aunque realmente sus contemporáneos greco-romanos no se vieron influenciados por esta versión
                del Antiguo Testamento, libro que conocieron en la época del cristianismo.</p>
            <p>Fue posteriormente, ya en el siglo II d.C. cuando comenzaron a aparecer las primeras traducciones de los
                libros del Antiguo Testamento desde el griego hacia el latín, versión que se denominó Vetus Latina. Ya
                en este periodo, las traducciones que encontramos tienen que ver con el ámbito religioso, y dos siglos
                más tarde una traducción de la Biblia será la que cambie por completo la historia de la traducción: la
                Vulgata. Esta traducción de la Biblia completa llevada a cabo por San Jerónimo, patrón hoy en día de los
                traductores, ha sido la traducción más divulgada y la única autorizada por la Iglesia católica en su
                momento. Aunque modificada en algunos aspectos a través de los siglos, esta fue la versión que imprimió
                Gutenberg por primera vez en 1452.</p>
            <h4>De la Antigüedad a la Edad Media</h4>
            <p>Ya en los siglos IX y X, Bagdad se convierte en el centro neurálgico de la traducción. Se traducen al
                árabe, en este caso, los trabajos existentes en griego en campos como el de la filosofía y la ciencia.
                La rápida expansión de estas traducciones tuvo lugar a través de España, un territorio bajo dominio
                musulmán que actuó como puerta de entrada hacia Europa.</p>
            <p>La península Ibérica era entonces un territorio multicultural. Con la cultura árabe en expansión, en este
                territorio convivían también judíos y cristianos, todos ellos con lenguas y culturas diferentes, que
                hacían de la traducción una absoluta necesidad. Esta riqueza tanto cultural como lingüística permitió
                que la traducción viviera un momento álgido en el que los conocimientos y las palabras pasaban de un
                idioma a otro y los traductores eran los portadores de las ideas.</p>
            <h4>La Escuela de Traductores de Toledo.</h4>
            <p>Toledo era, en aquellos momentos, el reflejo más fiel de la convivencia entre las tres culturas. Su
                conquista en el año 1085 y la tolerancia que mostraron los reyes castellanos cristianos con musulmanes y
                judíos facilitó que esta amalgama de culturas pusiera en marcha múltiples proyectos de traducción de los
                diferentes textos clásicos grecolatinos alejandrinos del árabe al latín. Este proceso era, en raras
                ocasiones una traducción directa entre ambos idiomas, ya que en la mayoría de las ocasiones existía una
                traducción intermedia a la lengua vernácula ya emergente: el castellano.</p>
            <p>Aunque existe cierta polémica sobre el responsable de su fundación, sabemos que la Escuela de Traductores
                de Toledo se pone en marcha en el siglo XII gracias al arzobispo de Toledo y gran canciller de Castilla,
                Raimundo de Sauvetât, un monje cisterciense de origen francés. En sus primeros pasos, la Escuela basa su
                actividad en la transferencia de textos fundamentalmente teológicos y filosóficos</p>
            <p>Solo un siglo después, el rey Alfonso X, apodado «el Sabio», institucionalizará la Escuela y actuará como
                mecenas de múltiples científicos y eruditos que se embarcarán en la traducción de textos astronómicos,
                médicos y científicos pero también de obras recreativas. Su llegada a la Escuela es el símbolo del auge
                de la cultura en una época de cambios en la que ya se podía prever el final de la Edad Media.</p>
            <h4>Aparición de la imprenta y las lenguas vernáculas.</h4>
            <p>Con la creación de la imprenta en el siglo XV el mundo de la cultura se revoluciona por completo. En un
                mundo en el que las distintas lenguas vernáculas están también viviendo su apogeo, la rápida difusión
                del conocimiento influirá de forma decisiva en el desarrollo de la traducción.</p>
            <p>La aparición de todas estas lenguas vernáculas impulsa la necesidad de traducir especialmente los textos
                religiosos, que se trasladarán a dichas lenguas en lugar del ya conocido latín, que irá perdiendo poco a
                poco su hegemonía. Esto hará que comience una guerra de traducciones en el campo teológico, ya que las
                traducciones religiosas se convertirán un arma lingüística, pero también política. Por un lado, elevarán
                el prestigio de las diferentes lenguas individuales, y por otro, restarán poder al clero al poner en
                tela de juicio sus interpretaciones de las Sagradas Escrituras. Probablemente el ejemplo más claro lo
                encontremos en la traducción que Lutero hizo de la Biblia al alemán y pasará a ser uno de los textos más
                importantes de la Reforma</p>
            <h4>La traducción en la época contemporánea.</h4>
            <p>La expansión industrial, comercial y científica que aconteció a partir del siglo XIX y la posterior
                internacionalización de las relaciones comerciales y diplomáticas hicieron que se multiplicasen los
                intercambios lingüísticos, y con ellos la necesidad de traducir.</p>
            <p>El auge de las traducciones y el desarrollo de los procesos de traducción han evolucionado mucho durante
                los siglos posteriores, pero hay otro hito que claramente ha marcado un antes y un después en la
                historia de la traducción: el descubrimiento de las nuevas tecnologías. No podemos negar que en el
                momento que vivimos la globalización y la existencia de cada vez más herramientas han ayudado en los
                procesos de traducción y también han amenazado la existencia de esta profesión</p>
            <p>Sin embargo, cada día que pasa, los traductores avanzamos en nuestra profesión y nos sobreponemos a los
                obstáculos para seguir rellenando este libro de historia de la traducción que todavía no ha visto
                escrita su última página</p>
        </article>
        <div>
            <a routerLink="/" button type="button" class="btn btn-outline-dark"
                style="font-family: Georgia, 'Times New Roman', Times, serif; margin-left: 90%; margin-top: -20px;">
                volver </a>
        </div>
    </main>

</body>
