<body style="margin-top: 10%;">
    <header>

        <div class="frases">
            <p>“La traducción debe tender a impresionar al público a que va dirigida como impresiona el original al público
                que lo ha leído.”</p>
            <p style="text-align:right;">(Edgar Allan Poe)</p>
            <img src="./../../../../../assets/images/edgar-allan-poe-.jpg" style="max-width:30%; margin-left:110%; margin-top: -23% "
                class="alan">
        </div>
    
    
    </header>
    <main style="margin-top: -2%;">
        <div class="botonNos">
            <a routerLink="/" button type="button" class="btn btn-outline-dark"
                style="font-family: Georgia, 'Times New Roman', Times, serif; margin-left: 92%; margin-top: -7%; border-color: brown;">
                volver </a>
        </div><br>
        <article class="nosotros">
            <div>
                <h1>¿Quienes somos?</h1>
            </div><br>
            <div>
                <p>Babel International Translators™ es la agencia líder de traducción de Argentina. Fue creada en el 2006
                    por cuatro traductores experimentados -dos mexicanos y dos británicos- que compartían la idea de que, en
                    un mundo intrincadamente interrelacionado, la comunicación efectiva es crucial para el éxito.</p>
            </div>
            <div>
                <p>Hoy en día, Babel ofrece soluciones lingüísticas rápidas, precisas y a buen precio para las empresas más
                    destacadas en el mundo de los negocios y nuestra cartera de clientes sigue creciendo de manera
                    espectacular día a día. Nuestro equipo interno, igualmente estelar, está conformado por 60 talentosos y
                    comprometidos profesionales, y reforzado con más de 200 profesionales independientes de comprobada
                    eficacia, que abarcan todas las actividades comerciales en todos los idiomas.</p>
            </div>
            <div>
                <p>La comunicación efectiva es lo que permite que nuestro mundo funcione y, desde el principio, la misión de
                    Babel ha sido construir puentes para que las personas se entiendan entre sí, independientemente del
                    idioma y la cultura. En Babel celebramos esta diversidad como una bendición, como la fuerza motriz que
                    nos permitirá crecer todos juntos, y como la esencia de la verdadera riqueza de la humanidad.</p>
            </div>
            <div>
                <p>Ha sido alentador ver a lo largo de los años cómo cientos de personas –personal, clientes, socios
                    comerciales y proveedores– comparten esta visión con nosotros, y nuestro dramático crecimiento se debe
                    en gran medida a la incorporación de estas personas. Esta perspectiva y nuestra postura inquebrantable
                    de hacer las cosas bien, con base en la honestidad, la integridad y el profesionalismo, nos han
                    convertido en el proveedor de servicios lingüísticos más fiable de América Latina.</p>
            </div>
            <div>
                <p>Entonces, ¿quiénes somos? Somos su aliado estratégico, la agencia de traducción con la que puede contar
                    cuando necesite una solución que haga la diferencia. Día tras día.</p>
            </div>
            <div><br>
                <p>Florencia Muscio <br>
                    Director General
                </p>
            </div>
        </article>
    
    </main>
</body>


