<main class="home">
    <section class="inicio">
        <div class="inicio1">
            <h1 style="text-align: center;">¿Por qué Babel Traducciones?</h1><br>
            <div>
                <img src="assets/images/mano escribiendo-home.jpg" hspace="5" vspace="5" style="float: left; width: 42%; margin-right: 10px;" />
                <p>Tiene su origen en la Universidad de Buenos Aires, universidad reconocido por la Asociación Internacional de Intérpretes de Conferencia (AIIC) y por l'École Supérieure d'Interprètes et de Traducteurs (ESIT) de la Universidad de la Sorbona.
                    Somos la empresa de mayor trayectoria profesional en Argentina, que desde 1991 entrega una gama completa de servicios y asesoría a diversos organismos, empresas, agencias e instituciones nacionales e internacionales.
                    </p>
                <p>Gozamos de un consolidado prestigio avalado por nuestra magnífica cartera de clientes y sus excelentes referencias de nuestros servicios.</p>
                </div>

        </div> <br>
        <div class="inicio2">
            <h1 style="text-align: center;">Solicite su cotización</h1><br>
            <div>
                
                <img src="assets/images/lapicera.jpg"  hspace="5" vspace="5" style="float: left; width: 40%; margin-right: 10px;"/>
                <p>• Todos los documentos estudiantiles (escolaridades, títulos universitarios, becas, fórmulas 52, 69, etc.)</p>
                <p>• Partidas de nacimiento, matrimonio, divorcio, defunción; certificados de buena conducta (antecedentes penales), de residencia; permisos de viaje; libretas de conducir; pasaportes; cédulas de identidad; libretas de familia</p>
                <p>• Certificaciones notariales, judiciales, legalizaciones, etc.</p>
                <p>• Balances, declaraciones juradas, inscripción en DGI, documentos de BPS,  certificado de libre de deudas, vales, conformes, constancia de inscripción bancaria</p>
            </div> 
        </div>
        
    </section>

    
</main>

<router-outlet></router-outlet>
