
*{
    background: url('./assets/images/fondo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/**{
    background: url('./assets/images/fondoGris2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
}*/


